packaging
requests
PyMySQL
pandas
numpy
xlrd
openpyxl
XlsxWriter
ipykernel
notebook
SQLAlchemy
python-dotenv
setuptools
alembic
cookiecutter
dash
dash-bootstrap-components
dash-labs
glob2==0.7
cx_Freeze
waitress
idna
cx_Logging
uvicorn
gunicorn
urllib3