pandas
numpy
dash
dash-bootstrap-components
dash-labs
glob2==0.7
SQLAlchemy
xlrd
alembic
openpyxl
XlsxWriter
cx_Freeze
waitress
idna
cx_Logging
uvicorn
gunicorn
PyMySQL
urllib3
polars
python-dotenv
cookiecutter